Source: jq-emojify
Section: utils
Priority: optional
Maintainer: Wu, Zhenyu <wuzhenyu@ustc.edu>
Uploaders: Wu, Zhenyu <wuzhenyu@ustc.edu>
Build-Depends: debhelper-compat (= 9), jq
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://github.com/Freed-Wu/jq-emojify
Vcs-Git: https://github.com/Freed-Wu/jq-emojify
Vcs-Browser: https://github.com/Freed-Wu/jq-emojify

Package: jq-emojify
Architecture: all
Multi-Arch: foreign
Depends: jq, ${misc:Depends}
Conflicts: emojify
Provides: emojify
Description: convert emoji name to emoji character
